
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .unique-calendar-container {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .unique-calendar-header {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    /* color: #fff; */
  }
  .unique-calendar-header p {
    margin: 0;
  }
  
  .unique-calendar {
    padding: 11px;
  }
  
  .unique-day-names,
  .unique-day-numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .unique-day-names span,
  .unique-day-numbers span {
    width: 14.28%;
    text-align: center;
  }
  
  .unique-day-numbers .active {
    color: #00bfa5;
  }
  .unique-day-names .active {
    color: #00bfa5;
    text-decoration: underline;
  }
  
  .unique-schedule {
    padding: 11px;
  }
  
  .unique-schedule-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .unique-time {
    width: 80px;
  }
  
  .unique-task {
    flex-grow: 1;
    padding: 10px 15px;
    border-radius: 18px;
    width: 264px;
  }
  
  .unique-task h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
  }
  
  .unique-task p {
    margin: 0;
    font-size: 15px;
    color: #bfafaf;
  }
  
  .unique-blue {
    background-color: #8754d0;
    height: 115px;
  }
  
  .unique-light-blue {
    background-color: #e0f7fa;
    color: #000;
    height: 115px;
  }
  
  .unique-schedule-item {
    display: flex;
    position: relative;
    margin-bottom: 20px;
  }
  
  .unique-time {
    flex: 1;
    position: relative;
    padding-right: 20px;
  }
  
  .unique-timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #7f86ff;
    margin-top: 32px;
    margin-left: 12px;
  }
  
  .unique-circle {
    width: 22px;
    height: 22px;
    background-color: #7f86ff;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -90%);
  }
  
  .unique-task {
    flex: 3;
    padding-left: 20px;
  }
  
  .unique-blue {
    background-color: #7f86ff;
  }