.unique-TaskContainer {
  width: 100%;
  padding: 10px;
}

.unique-TaskContainer table {
  width: 100%;
}

.unique-full-width-table {
  width: 100%;
}

.unique-TaskContainer {
  width: 100%;
  padding: 0 15px;
}

.unique-Taskcard {
  cursor: pointer;
}