.card-details {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
}

.card-details video {
  height: 111px;
  border-radius: 10px;
}

.video {
  width: 30%;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-details h3,
.card-details h2,
.card-details h6,
.card-details p,
.card-details ul {
  margin: 22px 15px;
}

.data {
  width: 70%;
}

.data h6 span {
  color: #007bff;
}

.data h6 span svg {
  color: #000000;
}

.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.check-icon {
  margin-right: 8px;
  color: #fff;
  background-color: #007bff;
  font-size: 20px;
  border-radius: 50%;
}
.message-icon{
  font-size: 25px;
  color: #007bff;
}
.time-icon {
  margin-left: 10px;
  vertical-align: middle;
}

.message-icon {
  margin-right: 10px;
  vertical-align: middle;
}


