.dataCard {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.sCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  height: 120px;
}
.sCard svg{
  padding-left: 10px;
}
.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10px;
}

.font {
  font-size: 13px;
}

.fontColor {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.separator {
  margin: 7px;
  padding-left: 10px;
}

.updateInfo {
  font-size: 13px;
  opacity: 0.5;
  padding-left: 10px;
}
