/* task.css */
.TaskContainer {
    width: 100%;
    padding: 10px;
  }
  
  .TaskContainer table {
    width: 100%;
  }
  

  .full-width-table {
    width: 100%;
  }
  
  .TaskContainer {
    width: 100%;
    padding: 0 15px;
  }
  .Taskcard{
    cursor: pointer;
  }
  