@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PoppinsLight.ttf");
    font-family: "Poppins";
    font-weight: 300;
  }
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/LexendLight.ttf");
    font-family: "Lexend";
    font-weight: 300;
  }
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/LexendSemiBold.ttf");
    font-family: "Lexend";
    font-weight: 600;
  }